/* Menu */

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2D7E0;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}

.logo img {
  height: 80px;
}

.nav-link {
  border-radius: 5%;
  padding: 5px 5px;
  color: black;
}

.nav-link:hover {
  background-color: #0d6dfd;
  color: white;
}

.header nav {
  padding-top: 20px;
}

.botao1 {
  background-color: rgba(0, 0, 0);
  border-radius: 5%;
  height: 30px;
  margin-left: 5px;
  border: none;
  color: white;
}

.botao1:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.texto_pes{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.texto_pes i{
  font-size: 18px;
  position: absolute;
  left: 5%;
  color: black;
}

.texto_pes input{
  padding: 2px 3px;
  margin-left: 5px;
  background:transparent;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
}

.texto_pes:focus-within input::placeholder{
  visibility: hidden;
}

.texto_pes:focus-within i{
  visibility: hidden;
}

.texto_pes input{
  color: black;
}

.texto_pes input::placeholder{
  color: black;
  padding-left: 20px;
}

/* Main */

body {
  background-color: #C4BFE7;
}

.main {
  background-color: #78ABC6;
}

/* Conta */

.perfil{
  background-color:#0d6dfd;
  }

.foto_perfil{
  height: 250px;
  width: 250px;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

b{
  margin-left: 15px;
  margin-right: 15px;
}

.font_conta{
  font-size:larger;
  color:#001330;
  display: flex;
  text-decoration: none;
  margin-bottom: 10px;
}

.fas{
  color:#001330;
  position: absolute;
  left: 310px;
  position: absolute;
  margin-top: 1.5vh;
}

.fas:hover{
  color:#ffffff;
}

b:hover{
  color:#ffffff;
}

.tema{
  font-size: 60px;
  color:#082f6a;
  text-align: center;
}

/* Botão */

.carregar_mais {
  padding: 7px 18px; 
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btndir{
  text-align:right;
  margin-right: 30px;
  margin-bottom: 5px;
}

.carregar_mais{
  background-color:#0d6dfd; 
  color:#ffffff
} 

.carregar_mais :hover{
  background:#082f6a ;
  color:#ffffff;
}

.carregar_mais b{ 
  margin-left: -1vh;
}

.carregar_mais i{
  position: absolute;
  margin-top: 0.6vh;
  margin-left: -1vh;
} 

/* Card de Notícias */

section{
    padding: 20px 0;
}

.card-content {
	background:#fce1ea;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #0d6dfd;
    padding: 6px;
    color:#f5f4f8;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span{
	position: absolute;
    top: 15%;
    left: 3%;
    background: #0d6dfd;
    padding: 6px;
    color:#f5f4f8;
    border: 0;   
}

.fas{
  color: #f5f4f8;
  align-items: center;
  margin: 10px;
}

.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color:#082f6a;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color:#1b3863;
  font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color:#0d6dfd;
	color:#f5f4f8;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .50rem 1rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 5px;
}
.btn-card:hover {
  background:#082f6a ;
  color:#ffffff;
}
a.btn-card {
    text-decoration: none;
}

/* Rodapé */

.footer {
  height: 80px;
  background-color: #F2D7E0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer img {
  height: 80px;
}

.footer_area {
  padding-top: 30px;
}

/* Media Screen */

@media screen and (max-width:1024px) {
  .texto_pes {
      display: none;
  }
}

@media screen and (max-width:575px) {
  .logo {
      width: 50%;
      margin-left: 25%;
  }

  .logo img{
      width: 100%;
      height: 100%;
  }

  .card-content{
    margin-bottom: 10px;
    font-size: .80rem;
    margin: 15px;
  }

  .foto_perfil{
    height: 80px;
    width: 80px;
  }

  .tema{
    font-size: 40px;
  }

}

